@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 812px) {
    .navbar-expand-md {
        background-color: #fcfcfc;
        z-index:9999;
        position:fixed;
        top: 0px;
        width: 70%;
        margin-top:-20px; 
    }
}
.container {
    padding-top:100px;
}
.navbar-expand-md {
    background-color: #fcfcfc;
    z-index:9999;
    position:fixed;
    overflow:hidden;
    top: 0px;
    width: 100%;
    margin-top:-20px; 
}