
@font-face {
    font-family: Cloud-Light;
    src: url('/static/fonts/Cloud-LightBold/Cloud-Light.otf') format("woff"), url("'/static/fonts/Cloud-LightBold/Cloud-Light.otf'")  format("truetype");
}
body {
    font-family: Cloud-Light,'Mitr';
}
.container {
    padding-top:100px;
    z-index:1;
}
span.text-logo {
    position: absolute;
    top: 32px;
}
a.btn.btn-md, a.btn, button.btn.btn-md, button.btn {
    background: #FFA300;
    color:#ffff;
    border-radius: 24px;
}
span.subtext-logo {
    position: absolute;
    top: 58px;
    font-size: 10px;
    color: #999999;
}
.navbar-expand-md {
    background-color: #fcfcfc;
    z-index:2000;
    position:fixed;
    overflow:hidden;
    top: 0px;
    width: 100%;
    margin-top:-20px; 
}