body {
    font-family: 'Mitr', sans-serif;
}
.container {
    padding-top:100px;
}
span.text-logo {
    position: absolute;
    top: 28px;
}
span.subtext-logo {
    position: absolute;
    top: 52px;
    font-size: 7px;
    color: #999999;
}
.navbar-expand-md {
    background-color: #fcfcfc;
    z-index:9999;
    position:fixed;
    overflow:hidden;
    top: 0px;
    width: 100%;
    margin-top:-20px; 
}