div.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.row {
    margin-bottom:10px;
}
span.provider_name, span.date {
    font-size: 0.9rem;;
}

span.date {
    margin-right:10px;
}
@media(max-width: 690px) {
    h5, .h5{
        font-size: 0.9rem;;
    }
    span.provider_name, span.date {
        font-size: 0.7rem;;
    }
    div.item {
        padding-bottom:15px;
        margin-bottom:15px;
        border-bottom:1px solid lightgrey;
        margin-top:10px;
    }
}