span.text-logo {
    position: absolute;
    top: 28px;
}
span.subtext-logo {
    position: absolute;
    top: 52px;
    font-size: small;
    color: #999999;
}
.row {
    margin-bottom:10px;
}
button.btn.btn-md, button.btn {
    background: #FFA300;
    color:#ffff;
    border-radius: 24px;
}

span.provider_name, span.date {
    font-size: 0.9rem;;
}

span.date {
    margin-right:10px;
}