<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit=no>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Mitr" rel="stylesheet">
    <script src="{% static "/js/base.js" %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha256-Md8eaeo67OiouuXAi8t/Xpd8t2+IaJezATVTWbZqSOw=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static "/css/base.css" %}" />
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '167667010668954');
        fbq('track', 'PageView');
        fbq('track', 'Lead');
        fbq('track', 'Search');
          
    </script>
    <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=423406128170881&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120276567-1"></script>
    <script>
        var host = window.location.hostname;
        if(host != "localhost" || host != "127.0.0.1") {
        // your google analytics code goes here
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-120276567-1');
        }
    </script>
    <!-- facebook login -->
    <script>
            window.fbAsyncInit = function() {
            FB.init({
                appId      : '251982945408281',
                cookie     : true,
                xfbml      : true,
                version    : 'v3.1'
            });
                
            FB.AppEvents.logPageView();   
                
            };
        
            (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
	{% block title %}{% endblock %}
</head>
<body>
        <!-- Feedback popup Modal -->
        <div class="modal fade" id="feedback-model" role="dialog" style="z-index:5000;">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Feedback</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="Email" class="col-form-label">Email:</label>
                                {% if not user.is_authenticated %}
                                    <input type="text" class="form-control" id="email">
                                {% else %}
                                    <span class="form-control" id="email">{{user.email}} </span>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Message:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" onclick="post_feedback()">Send</button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- End Feedback popup Modal -->
            <!-- Login popup Modal -->
            <div class="modal fade" id="login-modal" role="dialog" style="z-index:5000;">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Please Sign-In to use the extra features!</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" id="login-username" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="login-password" placeholder="Password">
                            </div>
                            <div align="center" style="color:grey;">
                                Not registed? <a href="#" data-toggle="modal" data-target="#register-modal"> Create an account</a>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <!-- <div class="fb-login-button" style="float:left;" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div> -->
                        <button type="button" role="button" class="btn" onclick="login()">Login</button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- End Login popup Modal -->
            <!-- Register popup Modal -->
            <div class="modal fade" id="register-modal" role="dialog" style="z-index:5000;">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Register</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="Username" class="col-form-label">Username:</label>
                                <input type="text" class="form-control" id="register-username" placeholder="theclog1">
                            </div>
                            <div class="form-group">
                                <label for="Password" class="col-form-label">Password:</label>
                                <input type="password" class="form-control" id="register-password"/>
                            </div>
                            <div class="form-group">
                                <label for="Password" class="col-form-label">Confirmed Password:</label>
                                <input type="password" class="form-control" id="register-confirm-password"/>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="FirstName" class="col-form-label">First Name:</label>
                                    <input type="text" class="form-control" id="first_name" placeholder="Bobby">
                                </div>
                                <div class="form-group col-6">
                                    <label for="LastName" class="col-form-label">Last Name:</label>
                                    <input type="text" class="form-control" id="last_name" placeholder="Jackson">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Email" class="col-form-label">Email:</label>
                                <input type="email" class="form-control" id="register-email" placeholder="user@theclog.co">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" onclick="register()">Register</button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- End Register popup Modal -->
        {% if user.is_authenticated %}
        <nav class="navbar mainbar">
        {% else %}
        <nav class="navbar mainbar navbar-expand-md">
        {% endif %}
                <a class="navbar-brand" style="color:#f9a11d;" href="/">
                    <img class="brand" src="{% static "favicon.ico" %}">
                    <span class="text-logo">The CLOG<span style="font-size:-40%;">.co</span></span>
                    <span class="subtext-logo"> Discover New Perspective</span>
                </a>
                <div class="nav-item search-item">
                        <form id="search-form" type="GET" >
                            <input class="form-control mr-sm-2 searchbar" type="search" placeholder="&#xf002;  search" aria-label="Search" name="search" onkeypress="mySearch()" value="{{search_query}}">
                            <input type="submit" style="visibility: hidden;" />
                        </form>
                    </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarsExampleDefault"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"> <i class="fa fa-user-circle-o fa-lg" style="margin-right:-19px;"></i> </span>
                </button>
                <div class="collapse navbar-collapse" id="narbars">
                    <ul class="nav navbar-nav navbar-right ml-auto" >
                        <!--
                        <li role="separator" class="dropdown-divider"></li>
                        <li class="nav-item">
                            <a href="#" role="button" class="btn btn-md" data-toggle="modal" data-target="#feedback-model" >Feedback</a>
                        </li>
                        -->
                        {% if user.is_authenticated %}
                        <li role="separator" class="dropdown-divider"></li>
                        <li class="nav-item">
                                <a class="mypin text-muted" role="button" style="text-transform: capitalize;" href="/myfollow" id="category-follow" style="margin-right:12px;">
                                    My Follow
                                    <i class="fa fa-fire"></i>
                                </a>
                            </li>
                        <li role="separator" class="dropdown-divider"></li>
                        <li class="nav-item">
                            <a class="mypin text-muted" role="button" style="text-transform: capitalize;" href="/mypin" id="category-pin" style="margin-right:12px;">
                                my pin
                                <i class="fa fa-map-pin"></i>
                            </a>
                        </li>
                        <li role="separator" class="dropdown-divider"></li>
                        <li class="nav-item">
                                <a href="#" role="button" class="feedback text-muted" data-toggle="modal" data-target="#feedback-model" >Feedback</a>
                            </li>
                        <li role="separator" class="dropdown-divider"></li>
                        <li class="nav-item">
                                <a href="#" role="button" class="logout text-muted" onclick="logout()"> Logout </a>
                            </li>
                        {% if user.is_staff %}
                        <li role="separator" class="dropdown-divider"></li>
                        <li class="nav-item">
                                <a href="/editor" role="button" class="editor text-muted"> <i class="fas fa-pen"></i> New story  </a>
                            </li>
                        <li role="separator" class="dropdown-divider"></li>
                        <li class="nav-item">
                                <a href="/provider_editor" role="button" class="provider-editor text-muted"> <i class="fas fa-edit"></i> Edit my blogs  </a>
                            </li>
                        {% endif %}
                        {% else %}
                        <li class="nav-item">
                                <a class="register text-muted" href="#"  data-toggle="modal" data-target="#register-modal" role="button" style="margin-right:12px;">Sign Up</a>
                        </li>
                            <li class="nav-item">
                                    <a class="signin" style="color:#f9a11d" href="#" data-toggle="modal" data-target="#login-modal" role="button" >Sign In</a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </nav>
    <!--
    <div class"container-descript" style="margin-top:5rem;margin-bottom:-5.2rem;">
        <div class="descript" align="center" style="display:block;background-color:#FFA300;color:white;"> แหล่งรวมบทความสำหรับชาว Millennials เพื่อเปิดมุมมองใหม่ๆ </div>
    </div>
    -->
    {% block content %}
    {% endblock %}
    {% block blogcontent %}
    {% endblock %}
<div id="footer">
    <div class="container">
        <p class="text-muted">Discover New Perspective <a href="/>theclog.co"</a></p>
        <p class="text-muted" style="float:right;"><a href="/terms/privacy"> Privacy Policy </a></p>
    </div>
 </div>

<!--<ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top"><i class="fa fa-level-up" aria-hidden="true"></i></a></li>
</ul>
-->
</body>
</div>

    {% block javascript %}
    {% endblock %}
</html>
