<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit=no>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha256-ko+X8xDY92jF49Uh47HOLP8Vb5zGDF0J+tdy9KLEP1I=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Mitr" rel="stylesheet">
    <link href="{% static 'fonts/Cloud-LightBold/Cloud-Light.otf' %}" rel="stylesheet" media="screen">
    <link href="{% static 'fonts/Cloud-LightBold/Cloud-LightBold.otf' %}" rel="stylesheet" media="screen">
    <script src="{% static "/js/base.js" %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha256-Md8eaeo67OiouuXAi8t/Xpd8t2+IaJezATVTWbZqSOw=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static "/css/base.css" %}" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120276567-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-120276567-1');
    </script>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
	{% block title %}{% endblock %}
</head>
<body>
        <!-- Feedback popup Modal -->
        <div class="modal fade" id="feedback-model" role="dialog" style="z-index:5000;">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Feedback</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="Email" class="col-form-label">Email:</label>
                                {% if not user.is_authenticated %}
                                    <input type="text" class="form-control" id="email">
                                {% else %}
                                    <span class="form-control" id="email">{{user.email}} </span>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Message:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" onclick="post_feedback()">Send</button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- End Feedback popup Modal -->
            <!-- Login popup Modal -->
            <div class="modal fade" id="login-modal" role="dialog" style="z-index:5000;">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Please Sign-In to use the extra features!</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="login-username" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="login-password" placeholder="Password">
                            </div>
                            <div align="center" style="color:grey;">
                                Not registed? <a href="#" data-toggle="modal" data-target="#register-modal"> Create an account</a>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" onclick="login()">Login</button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- End Login popup Modal -->
            <!-- Register popup Modal -->
            <div class="modal fade" id="register-modal" role="dialog" style="z-index:5000;">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Register</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="Username" class="col-form-label">Username:</label>
                                <input type="text" class="form-control" id="register-username" placeholder="theclog1">
                            </div>
                            <div class="form-group">
                                <label for="Password" class="col-form-label">Password:</label>
                                <input type="password" class="form-control" id="register-password"/>
                            </div>
                            <div class="form-group">
                                <label for="Password" class="col-form-label">Confirmed Password:</label>
                                <input type="password" class="form-control" id="register-confirm-password"/>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="FirstName" class="col-form-label">First Name:</label>
                                    <input type="text" class="form-control" id="first_name" placeholder="Bobby">
                                </div>
                                <div class="form-group col-6">
                                    <label for="LastName" class="col-form-label">Last Name:</label>
                                    <input type="text" class="form-control" id="last_name" placeholder="Jackson">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Email" class="col-form-label">Email:</label>
                                <input type="email" class="form-control" id="register-email" placeholder="user@theclog.co">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" onclick="register()">Register</button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- End Register popup Modal -->

        <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" style="color:#FFA300;" href="/">
                    <img width="80" height="80" src="{% static "favicon.ico" %}" style="margin-bottom:-10px;">
                    <span class="text-logo">CLOG</span>
                    <span class="subtext-logo"> Discover New Perspective</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarsExampleDefault"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"> <i class="fa fa-navicon"></i> </span>
                </button>
                <div class="collapse navbar-collapse" id="narbars">
                    <ul class="nav navbar-nav navbar-right ml-auto" style="margin-right:40px;">
                        <li class="nav-item">
                            <a href="#" role="button" class="btn btn-md" data-toggle="modal" data-target="#feedback-model" >Feedback</a>
                        </li>
                            <li class="nav-item">
                            <div class="dropdown">
                                <div class="btn" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                        <i class="fa fa-user-circle-o fa-lg"></i>
                                        {% if user.is_authenticated %}
                                        <span> Hi, {{user.first_name}}</span>
                                        {% else %}
                                        Account
                                        {% endif %}
                                    </div>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% if user.is_authenticated %}
                                    <a class="dropdown-item" href="#" role="button" class="btn btn-md" onclick="logout()"> Logout </a>
                                    {% else %}
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#register-modal" >Register</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#login-modal" >Login</a>
                                    {% endif %}
                                </ul>
                                
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>
    <div class"container-descript" style="margin-top:5rem;margin-bottom:-5.2rem;">
        <div class="descript" align="center" style="display:block;;background-color:#FFA300;color:white;"> แหล่งรวมบทความสำหรับชาว Millennials เพื่อเปิดมุมมองใหม่ๆ </div>
    </div>
	<div class="container">
    {% block content %}
    {% endblock %}
<div id="footer">
    <div class="container">
        <p class="text-muted">Discover New Perspective <a href="/>theclog.co"</a></p>
    </div>
 </div>

<ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top"><i class="fa fa-level-up" aria-hidden="true"></i></a></li>
</ul>

</body>
</div>

    {% block javascript %}
    {% endblock %}
</html>
