{% load el_pagination_tags %}
{% load staticfiles %}
{% load apis_extra %}
<div class="row blog-row">
{% lazy_paginate 21 blogs %}
{% for blog in blogs %}
<div class="col-lg-3 col-sm-12 offset-lg-1" align="center">
  <div class="item card" style="width:352px;">
    <a id="blog_link" href="{{blog.url}}" onclick="getBlog('{{blog.url}}','{{blog.blog_id}}');return false;">
					<img src="{{blog.img_url}}" height="206.329px" style="max-width: 350px;">
				</a>
			<div class="card-body">
		<h5 class="card-title">
				<a id="blog_link" href="{{blog.url}}" onclick="getBlog('{{blog.url}}','{{blog.blog_id}}');return false;" style="color:black;">{{blog.title}}</a>
				<div class="btn pin" role="button" name={{blog.blog_id}}>
						{% if not user.is_authenticated or blog not in pin_blogs %}
								<i class="fa fa-map-pin" aria-hidden="true" style="color:grey;" id="pin{{blog.blog_id}}" name="unpin"></i>
						{% else %}
								<i class="fa fa-map-pin" aria-hidden="true" style="color:red;" id="pin{{blog.blog_id}}" name="pinned"></i>
						{% endif %}
					</div>
			</h5>
    <div class="form-in-line">
      <span class="date">{{blog.created_on|timesince|upto:','}} ago</span>
      <span class="provider_img"><img width="16"height="16" src="{{blog.provider.favicon_url}}" ></span>
	  <span class="provider_name"> {{blog.provider.provider_name}} </span>
	</div>
	</div>
	<div class="tag card-text" align="left">
		{% for tag in blog.tags.all %}
		{% if forloop.first and tag %}
		<i class="fa fa-tag" aria-hidden="true"></i>
		{% endif %}
		<a href="/tag/{{tag.tag_name}}" style="color:black;text-transform:capitalize;">
			<span class="badge badge-pill tag-pill">
					{{ tag.tag_name }}
			</span>
		</a>
	  {% endfor %}
	</div>
  </div>
</div>
{% if forloop.counter|divisibleby:"3" and not forloop.last %}
	</div>
	<div class="row blog-row">
  {% endif %}
	{% endfor %}
</div>
{% show_more " " " " %}
{% csrf_token %}
<script src="{% static "/js/blog_list.js" %}"></script>