{% load el_pagination_tags %}
{% load staticfiles %}
{% load apis_extra %}
<div class="card-columns">
{% lazy_paginate 14 blogs %}
{% for blog in blogs %}
  <div class="item card" width="352" style="border:none">
    <a id="blog_link" href="{{blog.url}}" onclick="getBlog('{{blog.url}}','{{blog.blog_id}}');return false;">
				<!-- <div class="img-container" width="352" style="height:206.329px;overflow:hidden;">-->
					<!--<img src="{{blog.img_url}}" style="max-width:400px;margin:0 -100%;">-->
					<img src="{{blog.img_url}}" style="max-width:100%;">
				</a>
			<div class="card-body">
		<h5 class="card-title">
				<a id="blog_link" href="{{blog.url}}" onclick="getBlog('{{blog.url}}','{{blog.blog_id}}');return false;" style="color:black;">{{blog.title}}</a>
				<div class="btn pin" role="button" name={{blog.blog_id}}>
						{% if not user.is_authenticated or blog not in pin_blogs %}
								<!--<i class="fa fa-map-pin" aria-hidden="true" style="color:grey;" id="pin{{blog.blog_id}}" name="unpin"></i>-->
								<img class="pin-img"  src="{% static "/images/pin_grey.png" %}" width="24" height="24" id="pin{{blog.blog_id}}" name="unpin">
						{% else %}
								<!--<i class="fa fa-map-pin" aria-hidden="true" style="color:red;" id="pin{{blog.blog_id}}" name="pinned"></i>-->
								<img class="pin-img" src="{% static "/images/pin_orange.png" %}" width="24" height="24" id="pin{{blog.blog_id}}" name="pinned">
						{% endif %}
					</div>
			</h5>
    <div class="form-in-line">
			<a class="text-muted" href="/provider/{{blog.provider.provider_name|lower}}">
				<span class="provider_img"><img width="16"height="16" src="{{blog.provider.favicon_url}}" ></span>
			<span class="provider_name p-1 mr-2" style="border-right:0.5px solid lightgrey"> {{blog.provider.provider_name}} </span>
			</a>
		<span class="date">{{blog.created_on|timesince|upto:','}} ago</span>
	</div>
	</div>
	<div class="tag card-text" align="left">
		{% for tag in blog.tags.all %}
		{% if forloop.first and tag %}
		<i class="fa fa-tag" style="color:lightgrey;" aria-hidden="true"></i>
		{% endif %}
		<a href="/tag/{{tag.tag_name}}" style="color:black;text-transform:capitalize;">
			<span class="badge badge-pill tag-pill">
					{{ tag.tag_name }}
			</span>
		</a>
	  {% endfor %}
	</div>
</div>
	{% endfor %}
</div>
{% show_more " " " " %}
{% csrf_token %}
<script src="{% static "/js/blog_list.js" %}"></script>