{% extends "base.html" %}
{% load staticfiles %}
{% load apis_extra %}
{% block title %}<title>CLOG</title>{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "/css/index.css" %}" />
{% endblock %}
{% block content %}
	<div class="row">
		{% for blog in blogs %}
			<div class="col-lg-3 col-sm-12 offset-lg-1" align="center">
				<div class="item" >
				<a href="{{blog.url}}" target="_blank">
					<img class="lazy" src="{% static "/images/spinner2.svg" %}" data-orig="{{blog.img_url}}" width="270" height="auto">					
				</a>
				<div class="form-in-line">
					<span class="date">{{blog.created_on|timesince|upto:','}} ago</span>
					<span class="provider_img"><img width="16"height="16" src="{{blog.provider.favicon_url}}" ></span>
					<span class="provider_name"> {{blog.provider.provider_name}} </span>
				</div>
				<h5>
					<a href="{{blog.url}}" target="_blank" style="color:black;">{{blog.title}}</a>
				</h5>
				</div>
			</div>
				{% if forloop.counter|divisibleby:"3" and not forloop.last %}
					</div>
						<div class="row">
							{% endif %}
							{% endfor %}
		</div>
{% endblock %}
</body>
{% block javascript %}
<script src="{% static "/js/index.js" %}"></script>
{% endblock %}
</html>