{% extends "base.html" %}
{% load staticfiles %}
{% load apis_extra %}
{% load el_pagination_tags %}
{% block title %}<title>The CLOG</title>
<meta name="description" content="The Clog : Discover New Perspective แหล่งรวมบทความสำหรับชาว Millennials เพื่อเปิดมุมมองใหม่ ๆ ให้คุณได้เปิดโลกไปกับมุมมองที่แตกต่างจากนักเขียนที่หลากหลาย พร้อมกับติดตามเรื่องราวต่าง ๆ ไม่ว่าจะเป็นเรื่องใกล้ตัวหรือไกลตัวที่จะทำให้การอ่านไม่น่าเบื่ออีกต่อไป">
<meta name="keywords" content="clog,theclog,the clog,บทความ,อ่าน,เรื่องสั้น,ข่าว,วิเคราะห์,articles,article,medium,the matter,the standard,the momentum,the cloud">
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "/css/index.css" %}" />
{% endblock %}
{% block js %}
{% endblock %}
{% block content %}
<div id="trending-container">
    <div id="demo" class="carousel slide" data-ride="carousel">
      
        <!-- Indicators -->
        <!-- 
        <ul class="carousel-indicators" style="color:#FFA300;">
          {% for blog in trending_blogs %}
          {% if forloop.first %}
          <li data-target="#demo" data-slide-to="{{forloop.counter0}}" class="active"></li>
          {% else %}
          <li data-target="#demo" data-slide-to="{{forloop.counter0}}"></li>
          {% endif %}
          {% endfor %}
        </ul>
        -->
        <!-- The slideshow -->
        <div class="carousel-inner row w-100 mx-auto" role="listbox">
          {% for blog in trending_blogs %}
            {% if forloop.first %}
            <div class="carousel-item col-md-3 active" id="item-{{forloop.counter0}}" >
            {% else %}
            <div class="carousel-item col-md-3" id="item-{{forloop.counter0}}" >
            {% endif %}
            <a href="{{blog.url}}" target="_blank">
              <img class="img-fluid mx-auto d-block" src="{{blog.img_url}}" alt="{{blog.title}}" >
            </a>
            <div align="center">
              <a id="blog_link" href="{{blog.url}}" target="_blank">
              <p ><span>{{blog.title}}<span></p>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <i class="fa fa-chevron-left" aria-hidden="true" style="color:#999999"></i>
        </a>
        <a class="carousel-control-next text-faded" href="#demo" data-slide="next">
          <i class="fa fa-chevron-right" aria-hidden="true" style="color:#999999"></i>
        </a>
      </div>
    </div>
</div>
<div id="content-container">
<div class="nav-scroller nav-category nav navbar-nav nav-fill w-100" style="background-color:white;height:45px;" value="feed">
    <div class="p-2 category-title on-selected" align="center" id="feed">feed</div>
    <div style='width: 1px; top: 0px; bottom: 50%; left: 0px; 
    background-color: lightgrey; overflow: hidden'>
&nbsp;
</div>
    {% for category in categories %}
		  <div class="p-2 category-title" align="left" id="{{category.title}}">
        {{category.title}}
      </div>
      <div style='width: 1px; top: 0px; bottom: 50%; left: 0px; 
      background-color: lightgrey; overflow: hidden'>
&nbsp;
</div>
    {% endfor %}
      </div>
<div class="nav-scroller nav-tag py-1 mb-2" >
      <nav class="nav d-flex justify-content-between tag-bar" style="display: -ms-flexbox;display: flex;-ms-flex-wrap: nowrap;flex-wrap: nowrap;
      padding-bottom: 1rem;margin-top: -1px;overflow-x: auto;text-align: center;white-space: nowrap;-webkit-overflow-scrolling: touch;float:left;">
      {% for tag in tags %}
      <div class="p-2 text-muted tag-title"  id="tag-{{tag.tag_name}}" style="text-transform: capitalize;" >
        <span class="badge badge-pill blog-tag" id="{{tag.tag_name}}">
          {{tag.tag_name}}
        </span>
      </div>
      {% endfor %}
      </nav>
  </div>
<div class="loading" align="center" style="margin-top:40px;display:none;">
    <i class="fa fa-circle-o-notch fa-spin fa-4x" style="color:#f9a11d"></i>
</div>
{% endblock %}
{% block blogcontent %}
<div id="blog-container">
	{% include page_template %}
</div>
</body>
{% endblock %}
{% block javascript %}
<script src="{% static "/js/index.js" %}"></script>
<script src="{% static "/js/el-pagination.js" %}"></script>
<script>$.endlessPaginate({
  paginateOnScroll: true,

});
</script>
{% endblock %}
</html>
