{% extends "base.html" %}
{% load staticfiles %}
{% load apis_extra %}
{% load el_pagination_tags %}
{% block title %}<title>The CLOG</title>{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "/css/insource.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "/css/index.css" %}" />
<link href="//cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
{% endblock %}
{% block js %}
<script src="//cdn.quilljs.com/1.3.6/quill.core.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
{% endblock %}
{% block content %}
<div id="vert-menu" style="position:fixed;">
        <div class="nav-item vt back" align="center" onclick="javascript:history.go(-1)">
            <i class="fa fa-chevron-left" aria-hidden="true" style="color:#999999"></i> Back
        </div>
        {% if not user.is_authenticated or  pinned is not True %}
        <div class="nav-item vt pin-item" align="center" id="{{ blog.blog_id }}" name="unpin" style="background-color:grey;color:white;transform:rotate(270deg);padding: 8px;border: 1px solid white;border-radius: 6px;">
            <img src="{% static "/images/pin_white.png" %}" width="24" height="24">
            <span id="pin-text">Pin this post</span>
        </div>
        {% else %}
        <div class="nav-item vt pin-item" align="center" id="{{ blog.blog_id }}" name="pinned" style="background-color:#f9a11d;color:white;transform:rotate(270deg);padding: 8px;border: 1px solid #f9a11d;border-radius: 6px;">
                <img src="{% static "/images/pin_white.png" %}" width="24" height="24">
                <span id="pin-text">Pinned</span>
            </div>
        {% endif %}
        <div class="nav-item vt like-item" style="margin-bottom:10px;" align="center">
        {% if not user.is_authenticated or liked is not True %}
        <i class="fa fa-heart fa-2x like-btn" id="{{ blog.blog_id }}" name="unlike" style="border:1px solid lightgrey;border-radius: 24px;padding: 6.5px;color:white;background-color:lightgrey;" aria-hidden="true"></i>
        {% else %}
        <i class="fa fa-heart fa-2x like-btn" id="{{ blog.blog_id }}" name="liked" style="border:1px solid lightgrey;border-radius: 24px;padding: 6.5px;color:#f9a11d;background-color:white;" aria-hidden="true"></i>
        {% endif %}
        </div>
        <div class="nav-item vt text-muted like-num" value={{blog.total_likes}} align="center">
            {{blog.total_likes}}
        </div>
    </div>
<div class="container">
    <!-- <div id="directory">
        <a class="text-muted" href="/"> Feed </a> > <a class="text-muted" href="/category/{{blog.blog.category}}"> {{blog.blog.category}} </a> > <a class="text-muted"> {{blog.blog.title}} </a>
    </div>
-->
    
    <div id="headline" align="center">
        <div class="form-in-line" style="margin-bottom:35px;">
            <div class="d-block" style="font-family:Cloud-Bold;font-size:22px;color:black;"> {{blog.blog.title}} </div>
            <span class="date">{{blog.blog.created_on|timesince|upto:','}} ago</span>
            <a class="text-muted"> | </a>
            <span class="provider_img"><img width="16"height="16" src="{{blog.blog.provider.favicon_url}}" ></span>
            <span class="provider_name"> {{blog.blog.provider.provider_name}} </span>
        </div>
        <img src="{{blog.blog.img_url}}" style="max-width: 100%;max-height: 400px;display: block;margin-left: auto;margin-right: auto;">
    </div>
    <div id="blank" hidden>
            {{blog.blog_content|keep_blockquote}}
    </div>
    <div id="content">
    </div>
    <div class="tag-bar d-block" style="margin-top:20px;float:right;">
            {% for tag in blog.blog.tags.all %}
            {% if forloop.first and tag %}
            <i class="fa fa-tag" aria-hidden="true"></i>
            {% endif %}
            <a href="/tag/{{tag.tag_name}}" style="color:black;text-transform:capitalize;">
                <span class="badge badge-pill tag-pill">
                        {{ tag.tag_name }}
                </span>
            </a>
            {% endfor %}
        </div>
    <div class="credit-container">
        <span class="provider_img postimg"><img width="60"height="60" src="{{blog.blog.provider.favicon_url}}" style="float: left;margin-right: 15px;" ></span>
        <div class="form-in-line">
        <div class="text-muted"> Posted by<span class="provider_name" style="font-size:18px;font-family:Cloud-Bold;"> {{blog.blog.provider.provider_name}} </span>              
            <span style="color:#e4e4e4;margin-left:20px;margin-right:20px">|</span>
            {% if not user.is_authenticated or provider not in follow_list %}
            <div class="btn follow-btn" style="color:#FFA300;background-color:white;border: 1px solid #FFA300;" name="unfollow" id="{{provider.provider_id}}">
                Follow
              </div>
            {% else %}
            <div class="btn follow-btn" style="color:white;background-color:#FFA300;border: 1px solid white;" name="followed" id="{{provider.provider_id}}">
                Unfollow
              </div>
            {% endif %}
    </div>
</div>
</div>

    <hr style="margin-bottom:15px;">
    <div class="d-block" style="font-size:22px;padding:2px;margin-bottom:20px;">Read Next</div>
    <div class="row justify-content-center">
        {% for blog in trending_blogs %}
        <div class="col-lg-4 col-md-4 col-sm-12" style="margin-left:50px;margin-right:50px;">
                <a align="center" id="blog_link d-block" href="{{blog.url}}" onclick="getBlog('{{blog.url}}','{{blog.blog_id}}');return false;">
                    <img src="{{blog.img_url}}" style="width: 300px;max-height:206.329px;">
                </a>
                <div align="center"
                <a id="blog_link" href="{{blog.url}}" style="color:black;">{{blog.title}}</a>
                </div>
        </div>
        {% if forloop.counter|divisibleby:"2" %}
            </div>
            <div class="row justify-content-center">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function() {

        var temp = $('#blank').text();
        var justHtmlContent = document.getElementById('content');
        $('#content').html(temp);
    });
    </script>
    <script src="{% static "/js/blog_list.js" %}"></script>
    <script src="{% static "/js/insource.js" %}"></script>
{% endblock %}
</html>
