{% extends "base.html" %}
{% load staticfiles %}
{% load apis_extra %}
{% load el_pagination_tags %}
{% block title %}<title>The CLOG</title>{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "/css/insource.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "/css/index.css" %}" />
<link href="//cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
{% endblock %}
{% block js %}
<script src="//cdn.quilljs.com/1.3.6/quill.core.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div id="headline" align="center">
        <div class="form-in-line">
            <span class="date">{{blog.blog.created_on|timesince|upto:','}} ago</span>
            <span class="provider_img"><img width="16"height="16" src="{{blog.blog.provider.favicon_url}}" ></span>
            <span class="provider_name"> {{blog.blog.provider.provider_name}} </span>
        </div>
    </div>
    <div id="blank" hidden>
            {{blog.blog_content|keep_blockquote}}
    </div>
    <div id="content">
            
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function() {

        var temp = $('#blank').text();
        var justHtmlContent = document.getElementById('content');
        $('#content').html(temp);
    });
    </script>
{% endblock %}
</html>
