{% extends "index.html" %}
{% load staticfiles %}
{% load apis_extra %}
{% load el_pagination_tags %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "/css/index.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "/css/provider_page.css" %}" />
{% endblock %}
{% block blogcontent %}
<div id="provider-container" style="margin-top:55px;">
    <img src="{{provider.favicon_url}}" width=134 height="134" style="display:block;margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:20px;">
    <div class="form-in-line" align="center">
      <span class="pro_name" id="{{provider.provider_name}}"> {{provider.provider_name}} </span>
      <span style="color:#e4e4e4;margin-left:20px;margin-right:20px">|</span>
      {% if provider not in follow_list %}
      <div class="btn follow-btn" style="color:#FFA300;background-color:white;border: 1px solid #FFA300;" name="unfollow" id="{{provider.provider_id}}">
          Follow
        </div>
      {% else %}
      <div class="btn follow-btn" style="color:white;background-color:#FFA300;border: 1px solid white;" name="followed" id="{{provider.provider_id}}">
          Unfollow
        </div>
      {% endif %}
          
    </div>
</div>
<div id="bg-tag" style="background: linear-gradient(#e9e9e9, white,white,white);">
<div id="tag-container">
</div>
</div>
<div id="blog-container">
  {% include page_template %}
</div>
</body>
{% endblock %}
{% block javascript %}
<script src="{% static "/js/provider_page.js" %}"></script>
<script src="{% static "/js/el-pagination.js" %}"></script>
<script>$.endlessPaginate({
  paginateOnScroll: true,
});
</script>
{% endblock %}
</html>
