{% load el_pagination_tags %}
{% load staticfiles %}
{% load apis_extra %}
<div class="row blog-row" style="margin:30px;">
{% lazy_paginate 20 blogs %}
{% for blog in blogs %}
<div class="col-12" style="margin-left:40px;margin-top:35px;">
  <div class="item card" style="width:95%;height:240px;padding:20px;">
		<div class="form-in-line">
    <a id="blog_link" href="{{blog.blog.url}}" onclick="getBlog('{{blog.blog.url}}','{{blog.blog.blog_id}}');return false;" style="float:left;">
					<img src="{{blog.blog.img_url}}" style="max-width:310px;max-height:206.329px;overflow:hidden;margin-right:40px;">
				</a>
				<h5><a id="blog_link" href="{{blog.blog.url}}" onclick="getBlog('{{blog.blog.url}}','{{blog.blog.blog_id}}');return false;" style="color:black;">{{blog.blog.title}}</a></h5>
			<span class="date">{{blog.blog.created_on|timesince|upto:','}} ago</span>
			<a class="text-muted" href="/provider/{{blog.blog.provider.provider_name|lower}}">
      <span class="provider_img"><img width="16"height="16" src="{{blog.blog.provider.favicon_url}}" ></span>
		<span class="provider_name"> {{blog.blog.provider.provider_name}} </span>
		</a>
	</div>
  </div>
</div>
{% if forloop.counter|divisibleby:"1" %}
	</div>
	<div class="row blog-row" style="margin:30px;">
  {% endif %}
	{% endfor %}
</div>
{% show_more " " " " %}
{% csrf_token %}
<script src="{% static "/js/provider_blog_list.js" %}"></script>